<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.product.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>controller.product.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.product.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.product.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrinksListController</servlet-name>
        <servlet-class>controller.drinks.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrinksAddController</servlet-name>
        <servlet-class>controller.drinks.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.drinks.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/product/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrinksListController</servlet-name>
        <url-pattern>/drinks/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrinksAddController</servlet-name>
        <url-pattern>/drinks/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/drinks/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
